<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='site.css')}}" />
    </head>
    <body>
        <div class="navbar">
            <a href="{{url_for('home')}}" class="navbar-brand">home</a>
            <a href="{{url_for('about')}}" class="navbar-item">home</a>
            <a href="{{url_for('contact')}}" class="navbar-item">home</a>
        </div>
        <div class="body-content"></div>
    </body>
</html>